In [134]:
import numpy as np
import pandas as pd
import openpyxl

In [135]:
airline_list=pd.read_csv('airlines.csv')
airline_list

   airline_id                                    airline_name
0          AA                          American Airlines Inc.
1          DL                            Delta Air Lines Inc.
2          UA                            United Airlines Inc.
3          WN                          Southwest Airlines Co.
4          HA                          Hawaiian Airlines Inc.
..        ...                                             ...
56         AV  Aerovias del Continente Americano S.A. Avianca
57         QX                     Horizon Air Industries Inc.
58         JJ                               TAM Linhas Aereas
59         US                                 US Airways Inc.
60         MQ                                  Envoy Air Inc.

[61 rows x 2 columns]

In [136]:
df=pd.read_csv("flight_traffic.csv")
df[df['airline_id']=="AA"]
df

,year,month,day,airline_id,origin_airport,destination_airport,scheduled_departure,actual_departure,taxi_out,wheels_off,...,cancelled,diverted,scheduled_elapsed,actual_elapsed,distance,airline_delay,weather_delay,air_system_delay,security_delay,aircraft_delay
0,2017,1,17,AA,CLT,PHX,1619,1616.0,17.0,1633.0,...,0.0,0.0,277.0,266.0,1773.0,NaN,NaN,NaN,NaN,NaN
1,2017,1,18,AA,CLT,PHX,1619,1614.0,13.0,1627.0,...,0.0,0.0,277.0,247.0,1773.0,NaN,NaN,NaN,NaN,NaN
2,2017,1,19,AA,CLT,PHX,1619,1611.0,17.0,1628.0,...,0.0,0.0,277.0,255.0,1773.0,NaN,NaN,NaN,NaN,NaN
3,2017,1,20,AA,CLT,PHX,1619,1656.0,18.0,1714.0,...,0.0,0.0,277.0,273.0,1773.0,33.0,0.0,0.0,0.0,0.0
4,2017,1,21,AA,CLT,PHX,1619,1632.0,17.0,1649.0,...,0.0,0.0,277.0,266.0,1773.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5674616,2017,12,17,UA,DEN,SJC,1913,1910.0,14.0,1924.0,...,0.0,0.0,161.0,136.0,948.0,NaN,NaN,NaN,NaN,NaN
5674617,2017,12,17,UA,DFW,DEN,1638,1632.0,19.0,1651.0,...,0.0,0.0,129.0,115.0,641.0,NaN,NaN,NaN,NaN,NaN
5674618,2017,12,17,UA,AUS,SFO,725,719.0,20.0,739.0,...,0.0,0.0,242.0,220.0,1504.0,NaN,NaN,NaN,NaN,NaN
5674619,2017,12,17,UA,MCO,EWR,1008,1007.0,11.0,1018.0,...,0.0,0.0,157.0,135.0,937.0,NaN,NaN,NaN,NaN,NaN
5674620,2017,12,17,UA,IAH,MEM,2000,2000.0,25.0,2025.0,...,0.0,0.0,95.0,88.0,468.0,NaN,NaN,NaN,NaN,NaN

In [137]:
airline_list['Departure Delay']=0
airline_list['Arrival Delay']=0
airline_list['Taxi Time']=0
airline_list['Proportion on Time']=0

for i,j in airline_list.iterrows():
    df1=df.loc[df['airline_id']==airline_list['airline_id'][i]].copy()
    df1['DepartureDelay']=df1['scheduled_departure']-df1['actual_departure']
    df1['ArrivalDelay']=df1['scheduled_arrival']-df1['actual_arrival']


    onTime=df1['airline_delay'].notnull().sum()

    airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))

    airline_list['Arrival Delay'][i]=df1['ArrivalDelay'].mean(skipna=True)
    airline_list['Departure Delay'][i]=df1['DepartureDelay'].mean(skipna=True)
    airline_list['Taxi Time'][i]=df1['taxi_out'].mean(skipna=True)

airline_list.to_excel("output.xlsx")

C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airline_list['Arrival Delay'][i]=df1['ArrivalDelay'].mean(skipna=True)
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airline_list['Departure Delay'][i]=df1['DepartureDelay'].mean(skipna=True)
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airline_list['Taxi Time'][i]=df1['taxi_out'].mean(skipna=True)
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))
C:\Users\zhang\AppData\Local\Temp\ipykernel_12612\1086542022.py:14: RuntimeWarning: invalid value encountered in scalar divide
  airline_list['Proportion on Time'][i]=onTime/(len(df1['airline_delay']))

In [138]:
weather=pd.read_csv("weather.csv")
weather

,airport_id,airport_name,latitude,longitude,elevation,datetime,temperature,visibility,wind_direction,wind_speed,snow_depth,cloud_status
0,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T00:54:00,3.9,16093,220,7.2,NaN,NaN
1,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T06:54:00,0.6,16093,260,6.2,NaN,NaN
2,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T12:54:00,-0.6,16093,250,5.1,NaN,9.0
3,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T18:54:00,2.2,16093,240,5.7,NaN,9.0
4,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-02T00:54:00,-0.6,16093,170,1.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
353859,HLN,"HELENA AIRPORT ASOS, MT US",46.6056,-111.9636,1166.8,2017-06-01T18:53:00,23.9,16093,30,3.6,NaN,NaN
353860,HLN,"HELENA AIRPORT ASOS, MT US",46.6056,-111.9636,1166.8,2018-01-01T00:53:00,-22.2,16093,999,0.0,NaN,NaN
353861,HLN,"HELENA AIRPORT ASOS, MT US",46.6056,-111.9636,1166.8,2018-01-01T06:53:00,-20.0,16093,999,0.0,NaN,NaN
353862,HLN,"HELENA AIRPORT ASOS, MT US",46.6056,-111.9636,1166.8,2018-01-01T12:53:00,-20.6,16093,999,0.0,NaN,NaN
353863,HLN,"HELENA AIRPORT ASOS, MT US",46.6056,-111.9636,1166.8,2018-01-01T18:53:00,-21.1,11265,999,0.0,NaN,NaN

In [139]:
import datetime as dt
weather['Date']=0
weather['Time']=0
weather['Date'] = pd.to_datetime(weather['datetime']).dt.date
weather['Time'] = pd.to_datetime(weather['datetime']).dt.time
weather['dateTimeFormat']=pd.to_datetime(weather['datetime'])
weather

,airport_id,airport_name,latitude,longitude,elevation,datetime,temperature,visibility,wind_direction,wind_speed,snow_depth,cloud_status,Date,Time,dateTimeFormat
0,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T00:54:00,3.9,16093,220,7.2,NaN,NaN,2017-01-01,00:54:00,2017-01-01 00:54:00
1,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T06:54:00,0.6,16093,260,6.2,NaN,NaN,2017-01-01,06:54:00,2017-01-01 06:54:00
2,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T12:54:00,-0.6,16093,250,5.1,NaN,9.0,2017-01-01,12:54:00,2017-01-01 12:54:00
3,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T18:54:00,2.2,16093,240,5.7,NaN,9.0,2017-01-01,18:54:00,2017-01-01 18:54:00
4,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-02T00:54:00,-0.6,16093,170,1.5,NaN,NaN,2017-01-02,00:54:00,2017-01-02 00:54:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353859,HLN,"HELENA AIRPORT ASOS, MT US",46.6056,-111.9636,1166.8,2017-06-01T18:53:00,23.9,16093,30,3.6,NaN,NaN,2017-06-01,18:53:00,2017-06-01 18:53:00
353860,HLN,"HELENA AIRPORT ASOS, MT US",46.6056,-111.9636,1166.8,2018-01-01T00:53:00,-22.2,16093,999,0.0,NaN,NaN,2018-01-01,00:53:00,2018-01-01 00:53:00
353861,HLN,"HELENA AIRPORT ASOS, MT US",46.6056,-111.9636,1166.8,2018-01-01T06:53:00,-20.0,16093,999,0.0,NaN,NaN,2018-01-01,06:53:00,2018-01-01 06:53:00
353862,HLN,"HELENA AIRPORT ASOS, MT US",46.6056,-111.9636,1166.8,2018-01-01T12:53:00,-20.6,16093,999,0.0,NaN,NaN,2018-01-01,12:53:00,2018-01-01 12:53:00
353863,HLN,"HELENA AIRPORT ASOS, MT US",46.6056,-111.9636,1166.8,2018-01-01T18:53:00,-21.1,11265,999,0.0,NaN,NaN,2018-01-01,18:53:00,2018-01-01 18:53:00

In [141]:
df['Date']=0
df['Date']=pd.to_datetime(df[['year','month','day']])
df

,year,month,day,airline_id,origin_airport,destination_airport,scheduled_departure,actual_departure,taxi_out,wheels_off,...,diverted,scheduled_elapsed,actual_elapsed,distance,airline_delay,weather_delay,air_system_delay,security_delay,aircraft_delay,Date
0,2017,1,17,AA,CLT,PHX,1619,1616.0,17.0,1633.0,...,0.0,277.0,266.0,1773.0,NaN,NaN,NaN,NaN,NaN,2017-01-17
1,2017,1,18,AA,CLT,PHX,1619,1614.0,13.0,1627.0,...,0.0,277.0,247.0,1773.0,NaN,NaN,NaN,NaN,NaN,2017-01-18
2,2017,1,19,AA,CLT,PHX,1619,1611.0,17.0,1628.0,...,0.0,277.0,255.0,1773.0,NaN,NaN,NaN,NaN,NaN,2017-01-19
3,2017,1,20,AA,CLT,PHX,1619,1656.0,18.0,1714.0,...,0.0,277.0,273.0,1773.0,33.0,0.0,0.0,0.0,0.0,2017-01-20
4,2017,1,21,AA,CLT,PHX,1619,1632.0,17.0,1649.0,...,0.0,277.0,266.0,1773.0,NaN,NaN,NaN,NaN,NaN,2017-01-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5674616,2017,12,17,UA,DEN,SJC,1913,1910.0,14.0,1924.0,...,0.0,161.0,136.0,948.0,NaN,NaN,NaN,NaN,NaN,2017-12-17
5674617,2017,12,17,UA,DFW,DEN,1638,1632.0,19.0,1651.0,...,0.0,129.0,115.0,641.0,NaN,NaN,NaN,NaN,NaN,2017-12-17
5674618,2017,12,17,UA,AUS,SFO,725,719.0,20.0,739.0,...,0.0,242.0,220.0,1504.0,NaN,NaN,NaN,NaN,NaN,2017-12-17
5674619,2017,12,17,UA,MCO,EWR,1008,1007.0,11.0,1018.0,...,0.0,157.0,135.0,937.0,NaN,NaN,NaN,NaN,NaN,2017-12-17
5674620,2017,12,17,UA,IAH,MEM,2000,2000.0,25.0,2025.0,...,0.0,95.0,88.0,468.0,NaN,NaN,NaN,NaN,NaN,2017-12-17

In [142]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.dropna(subset = ['actual_departure', 'actual_arrival'],inplace=True)
df['actual_departure'] = df['actual_departure'].astype('int')
df['actual_departure'] = df['actual_departure'].astype(str).str.zfill(4).astype(int)
df['actual_arrival'] = df['actual_arrival'].astype('int')
df['actual_arrival'] = df['actual_arrival'].astype(str).str.zfill(4).astype(int)

df['arrival_integer']=df['year']*100000000+df['month']*1000000+df['day']*10000+df['actual_arrival']
df['departure_integer']=df['year']*100000000+df['month']*1000000+df['day']*10000+df['actual_departure']
df['arrival_datetime']=pd.to_datetime(df['arrival_integer'], format='%Y%m%d%H%M%S')
df['departure_datetime']=pd.to_datetime(df['departure_integer'], format='%Y%m%d%H%M%S')
df

,year,month,day,airline_id,origin_airport,destination_airport,scheduled_departure,actual_departure,taxi_out,wheels_off,...,airline_delay,weather_delay,air_system_delay,security_delay,aircraft_delay,Date,arrival_integer,departure_integer,arrival_datetime,departure_datetime
0,2017,1,17,AA,CLT,PHX,1619,1616,17.0,1633.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-17,201701171842,201701171616,2017-01-17 18:04:02,2017-01-17 16:01:06
1,2017,1,18,AA,CLT,PHX,1619,1614,13.0,1627.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-18,201701181821,201701181614,2017-01-18 18:02:01,2017-01-18 16:01:04
2,2017,1,19,AA,CLT,PHX,1619,1611,17.0,1628.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-19,201701191826,201701191611,2017-01-19 18:02:06,2017-01-19 16:01:01
3,2017,1,20,AA,CLT,PHX,1619,1656,18.0,1714.0,...,33.0,0.0,0.0,0.0,0.0,2017-01-20,201701201929,201701201656,2017-01-20 19:02:09,2017-01-20 16:05:06
4,2017,1,21,AA,CLT,PHX,1619,1632,17.0,1649.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-21,201701211858,201701211632,2017-01-21 18:05:08,2017-01-21 16:03:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5674616,2017,12,17,UA,DEN,SJC,1913,1910,14.0,1924.0,...,NaN,NaN,NaN,NaN,NaN,2017-12-17,201712172026,201712171910,2017-12-17 20:02:06,2017-12-17 19:01:00
5674617,2017,12,17,UA,DFW,DEN,1638,1632,19.0,1651.0,...,NaN,NaN,NaN,NaN,NaN,2017-12-17,201712171727,201712171632,2017-12-17 17:02:07,2017-12-17 16:03:02
5674618,2017,12,17,UA,AUS,SFO,725,719,20.0,739.0,...,NaN,NaN,NaN,NaN,NaN,2017-12-17,201712170859,201712170719,2017-12-17 08:05:09,2017-12-17 07:01:09
5674619,2017,12,17,UA,MCO,EWR,1008,1007,11.0,1018.0,...,NaN,NaN,NaN,NaN,NaN,2017-12-17,201712171222,201712171007,2017-12-17 12:02:02,2017-12-17 10:00:07
5674620,2017,12,17,UA,IAH,MEM,2000,2000,25.0,2025.0,...,NaN,NaN,NaN,NaN,NaN,2017-12-17,201712172128,201712172000,2017-12-17 21:02:08,2017-12-17 20:00:00

In [143]:
df.dtypes

year                            int64
month                           int64
day                             int64
airline_id                     object
origin_airport                 object
destination_airport            object
scheduled_departure             int64
actual_departure                int32
taxi_out                      float64
wheels_off                    float64
wheels_on                     float64
taxi_in                       float64
scheduled_arrival               int64
actual_arrival                  int32
cancelled                     float64
diverted                      float64
scheduled_elapsed             float64
actual_elapsed                float64
distance                      float64
airline_delay                 float64
weather_delay                 float64
air_system_delay              float64
security_delay                float64
aircraft_delay                float64
Date                   datetime64[ns]
arrival_integer                 int64
departure_integer               int64
arrival_datetime       datetime64[ns]
departure_datetime     datetime64[ns]
dtype: object

In [144]:
weather.dtypes

airport_id                object
airport_name              object
latitude                 float64
longitude                float64
elevation                float64
datetime                  object
temperature              float64
visibility                 int64
wind_direction             int64
wind_speed               float64
snow_depth               float64
cloud_status             float64
Date                      object
Time                      object
dateTimeFormat    datetime64[ns]
dtype: object

In [151]:
df['Date1']=df.arrival_datetime.dt.date
df['Date2']=df.departure_datetime.dt.date
df

,year,month,day,airline_id,origin_airport,destination_airport,scheduled_departure,actual_departure,taxi_out,wheels_off,...,air_system_delay,security_delay,aircraft_delay,Date,arrival_integer,departure_integer,arrival_datetime,departure_datetime,Date1,Date2
0,2017,1,17,AA,CLT,PHX,1619,1616,17.0,1633.0,...,NaN,NaN,NaN,2017-01-17,201701171842,201701171616,2017-01-17 18:04:02,2017-01-17 16:01:06,2017-01-17,2017-01-17
1,2017,1,18,AA,CLT,PHX,1619,1614,13.0,1627.0,...,NaN,NaN,NaN,2017-01-18,201701181821,201701181614,2017-01-18 18:02:01,2017-01-18 16:01:04,2017-01-18,2017-01-18
2,2017,1,19,AA,CLT,PHX,1619,1611,17.0,1628.0,...,NaN,NaN,NaN,2017-01-19,201701191826,201701191611,2017-01-19 18:02:06,2017-01-19 16:01:01,2017-01-19,2017-01-19
3,2017,1,20,AA,CLT,PHX,1619,1656,18.0,1714.0,...,0.0,0.0,0.0,2017-01-20,201701201929,201701201656,2017-01-20 19:02:09,2017-01-20 16:05:06,2017-01-20,2017-01-20
4,2017,1,21,AA,CLT,PHX,1619,1632,17.0,1649.0,...,NaN,NaN,NaN,2017-01-21,201701211858,201701211632,2017-01-21 18:05:08,2017-01-21 16:03:02,2017-01-21,2017-01-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5674616,2017,12,17,UA,DEN,SJC,1913,1910,14.0,1924.0,...,NaN,NaN,NaN,2017-12-17,201712172026,201712171910,2017-12-17 20:02:06,2017-12-17 19:01:00,2017-12-17,2017-12-17
5674617,2017,12,17,UA,DFW,DEN,1638,1632,19.0,1651.0,...,NaN,NaN,NaN,2017-12-17,201712171727,201712171632,2017-12-17 17:02:07,2017-12-17 16:03:02,2017-12-17,2017-12-17
5674618,2017,12,17,UA,AUS,SFO,725,719,20.0,739.0,...,NaN,NaN,NaN,2017-12-17,201712170859,201712170719,2017-12-17 08:05:09,2017-12-17 07:01:09,2017-12-17,2017-12-17
5674619,2017,12,17,UA,MCO,EWR,1008,1007,11.0,1018.0,...,NaN,NaN,NaN,2017-12-17,201712171222,201712171007,2017-12-17 12:02:02,2017-12-17 10:00:07,2017-12-17,2017-12-17
5674620,2017,12,17,UA,IAH,MEM,2000,2000,25.0,2025.0,...,NaN,NaN,NaN,2017-12-17,201712172128,201712172000,2017-12-17 21:02:08,2017-12-17 20:00:00,2017-12-17,2017-12-17

In [153]:
weatherOrigin=weather.loc[(weather['airport_id']==df['origin_airport'][2])&(weather['Date']==df['Date1'][2])].copy()
weatherOrigin

,airport_id,airport_name,latitude,longitude,elevation,datetime,temperature,visibility,wind_direction,wind_speed,snow_depth,cloud_status,Date,Time,dateTimeFormat
2999,CLT,"CHARLOTTE DOUGLAS AIRPORT, NC US",35.2236,-80.9552,221.9,2017-01-19T00:52:00,14.4,16093,340,3.6,NaN,9.0,2017-01-19,00:52:00,2017-01-19 00:52:00
3000,CLT,"CHARLOTTE DOUGLAS AIRPORT, NC US",35.2236,-80.9552,221.9,2017-01-19T06:52:00,6.1,16093,40,1.5,NaN,NaN,2017-01-19,06:52:00,2017-01-19 06:52:00
3001,CLT,"CHARLOTTE DOUGLAS AIRPORT, NC US",35.2236,-80.9552,221.9,2017-01-19T12:52:00,7.2,16093,90,2.1,NaN,9.0,2017-01-19,12:52:00,2017-01-19 12:52:00
3002,CLT,"CHARLOTTE DOUGLAS AIRPORT, NC US",35.2236,-80.9552,221.9,2017-01-19T18:52:00,16.7,16093,999,0.0,NaN,9.0,2017-01-19,18:52:00,2017-01-19 18:52:00

In [171]:
df['origin_temperature']=0
df['destination_temperature']=0
df['origin_visibility']=0
df['destination_visibility']=0
df['origin_wind_direction']=0
df['destination_wind_direction']=0
df['origin_wind_speed']=0
df['destination_wind_speed']=0
weather.dropna()
df.dropna()
for i,j in df.iterrows():
    weatherOrigin=weather.loc[(weather['airport_id']==df['origin_airport'][i])&(weather['Date']==df['Date2'][i])].copy()
    weatherOrigin['delta']=abs(weatherOrigin['dateTimeFormat']-df['departure_datetime'][i])
    weatherOrigin['delta']=weatherOrigin['delta'].dt.total_seconds()
    weatherOrigin.sort_values(by='delta')
    if weatherOrigin['delta'][0] is pd.NaT:
        break

    weatherArrival=weather.loc[(weather['airport_id']==df['destination_airport'][i])&(weather['Date']==df['Date1'][i])].copy()
    weatherArrival['delta']=abs(weatherOrigin['dateTimeFormat']-df['arrival_datetime'][i])
    if weatherArrival['delta'][0] is pd.NaT:
        break
    weatherArrival.sort_values(weatherArrival['delta'])

    df['origin_temperature'][i]=weatherOrigin['temperature'][0]
    df['destination_temperature'][i]=weatherArrival['temperature'][0]
    df['origin_visibility'][i]=weatherOrigin['visiiblity'][0]
    df['destination_visibility'][i]=weatherArrival['visiiblity'][0]
    df['origin_wind_direction'][i]=weatherOrigin['wind_direction'][0]
    df['destination_wind_direction'][i]=weatherArrival['wind_direction'][0]
    df['origin_wind_speed'][i]=weatherOrigin['wind_speed'][0]
    df['destination_wind_speed'][i]=weatherArrival['wind_speed'][0]